<div *ngIf="idea">
    <div class="row">
        <div class="col-sm-12">
            <div class="image_vote up"  (click)="vote_Up(idea)" [ngClass]="{'disabled': hasVoted || isOwner}"></div>    
        </div>
    </div> 
    <div class="row">
        <div class="col-sm-12">
            <div class="number-votes">{{idea.positiveVotes}}</div>
        </div>
    </div> 
    <div class="row">
        <div class="col-sm-12">
            <div class="image_vote down" (click)="vote_Down(idea)" [ngClass]="{'disabled': hasVoted || isOwner}"></div>
        </div>
    </div>   
</div>                  