<div *ngIf="idea">
    <div class="row">
            <div class="col-sm-12">
            <div class=image_vote (click)="vote_Up(idea)">
                <img  src="./assets/img/arrow_up.png">
            </div>
            </div>
    </div> 
    <div class="row">
        <div class="col-sm-12">
        <div class="number-votes">{{idea.positiveVotes}}</div>
        </div>
    </div> 
    <div class="row">
        <div class="col-sm-12">
                <div class=image_vote (click)="vote_Down(idea)">
                    <img class="img-responsive" src="./assets/img/arrow_down.png">
                </div>
            
        </div>
    </div>   
</div>                  