

.number-votes{
    padding: 7px;
}

.image_vote{
    width: 25px; 
    height: 25px;
    background-size: 25px 25px;
}
.image_vote.down {
    background: url('/assets/img/arrow_down.png');
    background-size: 25px 25px;
}
.image_vote.down:not(.disabled):hover{
    background: url('/assets/img/arrow_down_green.png');
    background-size: 25px 25px;
}
.image_vote.up {
    background: url('/assets/img/arrow_up.png');
    background-size: 25px 25px;
}
.image_vote.up:not(.disabled):hover{
    background: url('/assets/img/arrow_up_green.png');
    background-size: 25px 25px;
}
.image_vote:not(.disabled):hover {
    cursor: pointer;
}