<div class="container">
  <h1>
    User Approval
  </h1>

  <div [hidden]="!hasError" class="alert alert-danger" role="alert">
    <strong>An error occured:</strong> {{errorMessage}}
  </div>
  <div class="pt-2" *ngFor="let user of pendingUsers | async">
  <div class="card card-body col-4">
    <div class="card-block">
      <h4 class="card-title">{{user.Name}}</h4>
      <h6 class="card-subtitle mb-2 text-muted">{{user.Email}}</h6>
      <button (click)="onAccept(user.id)" type="button" class="btn btn-success">Approve</button>
      <button (click)="onDecline(user.id)" type="button" class="btn btn-danger">Disapprove</button>
      <div>
      </div>
    </div>
</div>

