<div *ngIf="idea">
  <div class="card mb-3">
      <div class="card-header">
          <div class="row mb-0">
              <div class="col-sm-8">
                <ng-container *ngIf="full; else elseTemplate">
                  <h4 class="card-title mb-0 float-left">{{idea.title}}</h4>
                </ng-container>
                <ng-template #elseTemplate>
                  <a routerLink="/details/{{idea.id}}"><h4 class="card-title mb-0 float-left">{{idea.title}}</h4></a>
                </ng-template>
                <h4 [hidden]="idea.published" class="text-muted float-left ml-3">(Draft)</h4>
                <!-- Display editing options for managers only -->
                <div *ngIf="full && isManager">
                  <a routerLink="/edit-idea/1/{{idea.id}}"><h4 class="text-muted float-left ml-3">(Edit)</h4></a>
                </div>
              </div>
              <div class="col-sm-4 float-right text-right mb-0">
                {{idea.timestamp | date:'MMMM d yyyy HH:mm'}}
              </div>
          </div>
          <div class="row mt-0">
            <div class="col-sm-12">
              <i>by {{idea.username}}</i>
            </div>
          </div>
      </div>
      <div class="card-block">
        <div class="row">
          <div class=col-sm-11>
            <p class="card-text p-2">{{full ? idea.description : idea.shortDescription}}</p>
          </div>
          <div class="col-sm-1">
            <voting-ideas [idea]="idea"></voting-ideas>
          </div>
        </div>
        <div class="card-footer">
          <span class="badge badge-primary mr-1 p-2" *ngFor="let tag of idea.tags">{{tag.title}}</span>
          <i class="text-muted" [hidden]="idea.tags.length > 0">No tags</i>
         <!--if idea description is shown only then permit to add reference ideas -->
          <div [hidden]="!full" > 
            <app-adding-reference-idea [idea]="idea"> </app-adding-reference-idea>
          </div>
        </div>
      </div>
    </div>
</div>
