<div class="container">
  <div class="card" *ngIf="idea | async; let idea; else loading">
    <div class="card-header">
        <div class="row mb-0">
            <div class="col-sm-8">
              <h4 class="card-title mb-0">{{idea.Title}}</h4>
            </div>
            <div class="col-sm-4 float-right text-right mb-0">
              {{idea.Timestamp | date:'MMMM d yyyy HH:mm'}}
            </div>
        </div>
        <div class="row mt-0">
          <div class="col-sm-12">
            <i>by {{idea.OwnerName}}</i>
          </div>
        </div>
    </div>
    <div class="card-block">
      <div class="row">
        <div class=col-sm-10>
          <p class="card-text p-2">{{idea.Description}}</p>
        </div>
        <div class="col-sm-2">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-12">
                <span class="badge badge-pill badge-success">{{idea.PositiveVotes}}</span>
                <span class="badge badge-pill badge-danger">{{idea.NegativeVotes}}</span>
              </div>
            </div> 
            <div class="row">
              <div class="col-sm-8">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">+</button>
              </div>
            </div> 
            <div class="row">
              <div class="col-sm-8">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">-</button>
              </div>
            </div>   
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <span class="badge badge-primary mr-1 p-2" *ngFor="let tag of idea.Tags">{{tag.Title}}</span>
      <i class="text-muted" [hidden]="idea.Tags">No tags</i>

      <div class="row">
        <div class=col-sm-10>
          <p class="card-text p-2">{{comments}}</p>
        </div>
      </div>

      <form (ngSubmit)="createComment(createCommentForm)" #createCommentForm="ngForm">
          <div class="form-group">
            <input type="hidden" id="idea_id" value="{{id}}">
            <input type="text" id="content" class="form-control form-control-lg" minlength="5" required ngModel name="content" #content="ngModel"
                    aria-describedby="contentHelp" placeholder="Content">
            <small id="contentHelp" class="form-text text-muted">Write the content here.</small>
            <div [hidden]="content.valid || content.pristine" class="alert alert-info">Content must have min. 5 characters.</div>
          </div>
          <button type="submit" class="btn btn-success" [disabled]="!createCommentForm.form.valid">Comment!</button>
      </form>

    </div>
  </div>
  <ng-template #loading>
    <div class="text-center">
      <h1>Loading idea...</h1>
    </div>
  </ng-template>
</div>
