<div class="container">
  <h2 [hidden]="!idea">There are currently no ideas. Go to <a [routerLink]="[ '/create' ]">Add idea</a> to share your great idea!</h2>
  <div class="card mb-3" *ngFor="let idea of ideasObservable | async">
    <div class="card-header">
        <div class="row mb-0">
            <div class="col-sm-8">
              <a routerLink="/details/{{idea.key}}"><h4 class="card-title mb-0">{{idea.payload.val().Title}}</h4></a>
            </div>
            <div class="col-sm-4 float-right text-right mb-0">
              {{idea.payload.val().Timestamp | date:'MMMM d yyyy HH:mm'}}
            </div>
        </div>
        <div class="row mt-0">
          <div class="col-sm-12">
            <i>by {{idea.payload.val().OwnerName}}</i>
          </div>
        </div>
    </div>
    <div class="card-block">
      <div class="row">
        <div class=col-sm-10>
          <p class="card-text p-2">{{idea.payload.val().ShortDescription}}</p>
        </div>
        <div class="col-sm-2">
          <div class="row">
              <div class="col-sm-12"> 
                <div class="row">
                  <div class="col-md-6">
                    <button class="btn btn-outline-success btn-block " type="submit">
                      <div>+</div>
                    </button>
                  </div> 
                  <div class="col-sm-6">
                    <span class="badge badge-pill badge-success">{{idea.payload.val().PositiveVote}}</span>
                  </div> 
                </div>     
                <div class="row"> 
                    <div class="col-md-6">
                      <button class="btn btn-outline-danger btn-block " type="submit">
                        <div> -</div>
                      </button>
                    </div>
                    <div class="col-sm-6">
                      <span class="badge badge-pill badge-danger">{{idea.payload.val().NegativeVote}}</span>
                    </div>
                </div>
            </div> 
          </div>
         </div>
      </div>
    <div class="card-footer">
      Some other info?
    </div>
  </div>
</div>