<div class="container">
  <div class="row align-items-center">
    <div class="col align-self-end">
      <button class="btn float-right" [hidden]="(ideasObservable | async)?.length == 0" data-toggle="button" attr.aria-pressed="{{isOrderedByVote}}" autocomplete="off" (click)="onSortRequest()">Order by Votes</button>
    </div>
  </div>

  <h2 [hidden]="(ideasObservable | async)?.length > 0" class="text-center">You haven't added any ideas yet. Go to <a [routerLink]="[ '/create' ]">Add idea</a> to share your great idea!</h2>
  <div *ngFor="let idea of ideasObservable | async">
    <idea [idea]="idea"></idea>
  </div>
</div>
